html{
    display: block;
}

.home-page-image{
    display: flex;
    align-items: center;
}

.logo {
    height: 65px;
    padding: 2px;
}

.menu-bar {
    height: wrap;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.about-us {
    text-align: right;
    padding: 15px;
}