html{
    display: block;
    width: 100%;
}

body {
    padding: 0 px;
}

.landing-page-body{
    display: flex;
    align-items: center;
    background-color: radial-gradient(black, #333333);
    align-self: center;
    height: 90%;
    width: auto;
    padding: 10%;
}

.logo {
    width: auto;
    height: 100%;
    max-height: 55px;
    align-self: center;
    padding: 2px;
}

.menu-bar {
    background-color: lightblue;
    display: flex;
    align-items: center;
    height: auto;
    padding: auto;
    text-align: center;
}

.transparent-block {
    opacity: 0;
    flex-grow: 10;
    display: block;
}

.profile-pic {
    width: auto;
    height: 100%;
    min-height: 100px;
    min-width: 100%;
}

.about-us-button {
    padding: 16.5px 1% 16.5px 1%;
}

.about-us {
    padding: 5%;
}

.consultant-1 {
    padding: 1px 1px 1px 30%;
}